[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=ContextProperty4
Exec=/usr/bin/single-instance /opt/ContextProperty4/bin/ContextProperty4
Icon=/usr/share/icons/hicolor/80x80/apps/ContextProperty480.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
